!!! 5
script(src='/js/libs/requirejs/require.js')
script(src='requireconfig.js')
link(rel='stylesheet', type='text/css', href='/css/bootstrap.css')
link(rel='stylesheet', type='text/css', href='/css/bootstrap-theme.css')
link(href='/css/starterTemp.css', rel='stylesheet')
.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
.container
  form(method='post', action='/weather')
    p
      label City or Postcode:
      input(type='text', name='place', required=true)
    p
      label 
        = "No. Days (1-5): "
      input(type='number', name='days', max=5, min=1, required=true)
    p
      input(type='submit', value='Get Weather')
  - if (weatherData != undefined)
    - data = JSON.parse(weatherData.replace(/&quot;/ig,'"'))['data'];
    - var error = data['error'] != undefined
    - if(!error)
      - var weather = data['weather'];
      h4 Getting weather data for: 
        = data['request'][0]['query']
      .row
       
        - for (var i = 0; i<weather.length;i++)
            - var url = weather[i]['weatherIconUrl'][0]['value']
            .col-md-2
              .well
                p Day 
                 = i + 1 + " " + weather[i]['date']
                 img(src= url, alt='weather Icon', style= 'align-content: centre;')
                p Max Temperature: 
                  != weather[i]['tempMaxC'] + "&deg;C"
                p Min Temperature:  
                  != weather[i]['tempMinC'] + "&deg;C"
                p Weather: 
                  = weather[i]['weatherDesc'][0]['value']

                p Wind Direction: 
                  = weather[i]['winddirection']
                p Wind Speed in kmph: 
                  = weather[i]['windspeedKmph']
    - else
      h4 
        = data['error'][0]['msg']
